# Build directories
build/
out/
Debug/
Release/
x64/

# IDE specific
.vs/
.vscode/
*.sln
*.vcxproj*
.DS_Store

# Dependencies (since we'll build them)
raylib/
imgui/
rlImGui/

# Build artifacts
*.o
*.obj
*.exe
main


*.app
*.dmg
*.plist
dist
*.zip